
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPreview</title>
</head>
<body>
    <div>
        <a href="@ViewBag.Message">右键点这里另存为即可下载</a>
    </div>
</body>
</html>
